// .carrito {
//   position: fixed;
//   z-index: 3;
//   right: 20px;
//   top: 115px;
//   max-width: 80px;
// }

// .addToCartButton {
//   font-family: Sansation;
//   font-size: 20px;
//   font-weight: bold;
//   padding: 0px 35px;
//   border: 1px solid $very-dark-grey;
//   border-radius: 3px;
//   margin: auto;
// }

.quantity {
  text-align: center;
  width: 70px;
  height: 30px;
  margin: 10px;
  border-radius: 1.25rem;
}

.cart-section {
  text-align: center;
}

.prod-title {
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  bottom: 90px;
  text-align: center;
  background-color: $primary-brown;
  opacity: 0.7;
  color: $white;
  width: 100%;
}

.prod-description {
  position: relative;
  bottom: 50px;
  text-align: center;
}

.diamond-container {
  position: absolute;
  margin-top: -20px;
  margin-left: -20px;
}

.diamond {
  margin-left: 28px;
  margin-top: 28px;
  width: 50px;
  height: 50px;
  background: #555;
  overflow: hidden;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.5px;
  transform: rotate(45deg);
  transition: all 0.3s ease-out;
}

.diamond-wrapper {
  margin-top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.diamond-content {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 414px) {
}

@media only screen and (min-width: 415px) and (max-width: 960px) {
}
